{%- extends 'lab/index.html.j2' -%}

{%- block html_head_js -%}
{%- endblock html_head_js -%}

{%- block html_head_js_mathjax -%}
{%- endblock html_head_js_mathjax -%}

{%- block html_head_js_mermaidjs -%}
{%- endblock html_head_js_mermaidjs -%}

{%- block html_head_css -%}
<meta name="description" content="{{ resources.notebook_meta.description }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ resources.notebook_meta.title }}">
<meta property="og:description" content="{{ resources.notebook_meta.description }}">
<meta property="og:image" content="{{ resources.notebook_meta.og_image_url }}">
<meta property="og:url" content="{{ resources.notebook_meta.page_url }}">
<meta property="og:site_name" content="Columnar Cookbook">
{%- endblock html_head_css -%}

{% block extra_css %}
<link rel="stylesheet" href="/style.css">
<link rel="icon" type="image/x-icon" href="/favicon.svg">
{% endblock extra_css %}

{%- block body_header -%}
<body class="jp-Notebook" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
{% include 'components/navbar.html.j2' %}
{% include 'components/header.html.j2' %}
<main>
{%- endblock body_header -%}

{%- block body_footer -%}
</main>
{% include 'components/footer.html.j2' %}
{% include 'components/site-footer.html.j2' %}
</body>
{%- endblock body_footer -%}

{% block in_prompt -%}
{%- endblock in_prompt %}

{% block empty_in_prompt -%}
{%- endblock empty_in_prompt %}

{% block output_area_prompt %}
{% endblock output_area_prompt %}
