<div id="navbar">
  <a href="/" class="navbar-logo">
    {% include "components/icons/columnar.svg" %}
    <span>Cookbook</span>
  </a>
  <a href="https://github.com/columnar-tech/columnar-cookbook" class="navbar-github" aria-label="GitHub" target="_blank">
    {% include "components/icons/github.svg" %}
  </a>
</div>
