<div id="navbar">
  <a href="/" class="navbar-logo">
    {% include "components/icons/columnar.svg" %}
    <div>
      <span class="logo-primary">Columnar</span>
      <span class="logo-secondary">Cookbook</span>
    </div>
  </a>
  <a href="https://github.com/columnar-tech/columnar-cookbook" class="navbar-github" aria-label="GitHub" target="_blank">
    {% include "components/icons/github.svg" %}
  </a>
</div>
