<footer class="site-footer">
  <span>&copy; 2026 Columnar Technologies Inc.</span>
  <nav>
    <a href="https://columnar.tech/privacy/" target="_blank"><span class="footer-label-full">Privacy Policy</span><span class="footer-label-short">Privacy</span></a>
    <a href="https://columnar.tech/terms/" target="_blank"><span class="footer-label-full">Terms and Conditions</span><span class="footer-label-short">Terms</span></a>
  </nav>
</footer>
